.skills{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    
}

.heading{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 20%;
    align-items: center;
    
}

.bigheading{
    font-size: 3rem;
    font-weight: 600;
    font-family:cursive;

}

.subheading{
    display: flex;
    justify-content: space-between;
    width: 200px;
}
.subheading p{
    font-size: 1.3rem;
    color: rgb(189, 5, 5);
    font-family:cursive;
    font-weight: 500;
}

.line{
    width: 20%;
    height: 2px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: black;
    align-self: center !important;
}

.info{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 40px;
}

.textskills{
    width: 50% ;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&family=Dancing+Script:wght@400;500&family=Roboto+Condensed:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&family=Dancing+Script:wght@400;500&family=Open+Sans:wght@300&family=Roboto+Condensed:ital,wght@0,300;1,300&family=Zen+Antique&display=swap');
.infoheading{
    font-size: 1.2rem;
    font-weight: 700;
    font-family: 'Ceviche One', cursive;
}

.infotext{
    width: 80%;
    margin-top: 16px;
    font-family: 'Open Sans', sans-serif;}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 40px;
    background-color: red;
    color: white;
    font-weight: 600;
    border: none;
}
.btn:hover{
    transition: 0.2s all ease;
    background-color: white;
    border: 1px solid red;
    color: red;
}

.dynamicskills{
    width:50%;
    height: 400px;
    flex-direction: column;
    /* background-color : red; */
    align-items: center;
    padding: 10px;
    margin-top: 40px;
}

@media(max-width:972px){
    .info{
        flex-direction: column;
        align-items: center;
    }
    .textskills{
        width: 100%;
        align-items: center;
        display: flex;
        padding: 0;
    }
    .infoheading,.infotext{
        text-align: center;
        width: 100%;
    }
    .infotext{
        padding: 20px;
    }
    .dynamicskills{
        display: flex;
        width: 100%;
        align-items: center;
    }
}

