.portfolio{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(233, 230, 230);
    padding-top: 40px;
}
@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&family=Dancing+Script:wght@400;500&family=Open+Sans:wght@300&family=Roboto+Condensed:ital,wght@0,300;1,300&family=Zen+Antique&family=Zen+Kaku+Gothic+Antique:wght@300&display=swap');
.heading p{
    font-size: 3rem;
    /* font-weight: 600; */
    color: rgb(60, 52, 61);
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.projectsCont{
    width: 100%;
    height: auto;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

@media(max-width:590px){
    .heading p{
        font-size: 3rem;
    }
}
